#img-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.spin {
  height: 50%;
  width: 50%;
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
